<div id="list-page">
  <ul id="trivias" class="list">
    <% for trivia in @trivias do %>
    <li id="trivia-<%= trivia.id %>"><%= link_to truncate(trivia.fact), edit_trivia_path(trivia, :page => @page) %></li>
    <% end %>
  </ul>
</div>
<%= will_paginate @trivias %>
<% content_for :foot do %>
  <%= javascript_include_tag :defaults %>
<% end %>
